{% extends "base.html"%}

{% block content %}
{% load static %}


<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img class="mr-3" src="{% static 'ParraWebApp/assets/brand/requisito.png' %}" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Tareas por hacer</h6>
      <!-- <small>Since 2011</small> -->
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recientes</h6>
    {% for tarea_n in list_tareas %}     
        <div class="media text-muted pt-3">     
          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">{{tarea_n.nombre}}</strong>
            <small>{{tarea_n.empezado}}</small><br>
            {{tarea_n.contenido}}             
            </p> 
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="terminartarea/{{tarea_n.id}}">Terminar tarea</a>                 
                  <a class="dropdown-item" href="editartarea/{{tarea_n.id}}">Modificar tarea</a>
                  <a class="dropdown-item" href="eliminartarea/{{tarea_n.id}}" ><font color="red">Eliminar</font></a>
                </div>
           </div>     
      {% endfor %}
            
    <!--<small class="d-block text-right mt-3">
      <a href="#">Todas las tareas</a>
    </small>-->
  </div>

  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img class="mr-3" src="{% static 'ParraWebApp/assets/brand/correcto.png' %}" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Tareas terminadas</h6>
      <!-- <small>Since 2011</small> -->
    </div>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Terminadas</h6>
    {% for tarea_n in list_terminadas%}
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">{{tarea_n.nombre}}</strong> 
          <a href="#ventana{{tarea_n.id}}" data-toggle="modal">Ver</a>
          <div class="modal fade" id ="ventana{{tarea_n.id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class = "modal-title">{{tarea_n.nombre}}</h5>                  
                </div>
                <div class="modal-body">
                  <p>Contenido: {{tarea_n.contenido}}</p>
                  <small> Empezado: {{tarea_n.empezado}} <br> Vencimiento: {{tarea_n.fecha_limite}}</small>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
    {% endfor%}
    <small class="d-block text-right mt-3">
    </small>
  </div>
</main>

{% endblock %}